namespace: application
deploy:
  name: hello-de2
  replicas: 1
  port: 8080
  targetport: 8080
  image: hello-dev
  tag: latest
  registry: 818816801545.dkr.ecr.us-west-2.amazonaws.com/
  resources:
    enabled: true
    requestCpu: 100m
    requestMemory: 200Mi
    limitCpu: 700m
    limitMemory: 1000Mi
svc:
  enabled: true
  name: hello-dev2
  port2:
    enabled: false
    targetport: 80
  port3:
    enabled: false
    targetport: 80
hpa:
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 70
probe:
  enabled: false
  failureThreshold: 1
  periodSeconds: 10
  timeoutSeconds: 10
  initialDelaySeconds: 90
  pathreadiness: /actuator/health
  pathliveness: /actuator/health
  port: 8080
ingress:
  enabled: true
  hosts: hello-dev2.kadir.com
  scheme: internet-facing
  sslCertArn: arn:aws:acm:us-west-2:818816801545:certificate/664135f5-b718-42bb-ba9a-323542664c32
  path: "/"
  stickySession:
    enabled: true
    targetType: ip
    tgAttributes: stickiness.enabled=true,stickiness.lb_cookie.duration_seconds=600
  cors:
    enabled: false
    corsAllowOrigin: http://localhost:3000

configmap:
  enabled: true
  name: hello-dev2-config
  appsettings:
    enabled: false
  nlog:
    enabled: false
  env:
    enabled: false
  envproduction:
    enabled: false
volume:
  logs:
    enabled: false
    mountPath: /data/logs/
    nfs:
      path: /
      server: fs-123456789.sample.aws
appconfigs:
  configmap:
    enabled: true


